/*center the messsage*/
.message {
  color:red;
  text-align:center;
  justify-content: :center;
  font-size: 400%;
}

p {
  text-justify:center;
}

.background {
  background-image:url("./onepiece_series.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.timer {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
